body {
    background-color: #8b8a86;
    border:3px solid #8b0808;
    width:350px;
    height:auto;
    text-align:center;
    margin:auto;

}


#header1{
    width:300px;
    border:2px solid #8b0808;
    padding:50px;
    margin:auto;
}

#nav1{
    width:95%;
    border:2px solid #8b0808;
    padding:5px;
    margin:10px 20px 10px 10px;
}

/*
#section1{
    float:right;
    width:40%;
    border:2px solid #8b0808;
    padding:20px;
    margin:10px 10px 10px 10px;
}

.headerArticle {
    width:200px;
    border:2px solid #8b0808;
    padding:20px;
    margin:auto;
}

#header2{
    width:200px;
    border:2px solid #8b0808;
    padding:20px;
    margin:10px;
}

.header3{
    width:150px;
    border:2px solid #8b0808;
    padding:20px;
    margin:10px;
}

#p1{
    width:125px;
    border:2px solid #8b0808;
    padding:20px;
    margin:10px;
}

#aside1{
    width:100px;
    border:2px solid #8b0808;
    padding:20px;
    margin:10px;
}

#sectionLeft{
    float:left;
    width:40%;
    border:2px solid #8b0808;
    padding:20px;
    margin:10px;
}

.headerLeft{
    width:100px;
    border:2px solid #8b0808;
    padding:20px;
    margin:10px;
}

#navLeft{
    width:50%;
    border:2px solid #8b0808;
    padding:20px;
    margin:10px;
}

#footerLast{
    clear: both;
    width:90%;
    border:2px solid #8b0808;
    padding:20px;
    margin:15px 15px 15px 15px;
}
*/
